<div class="row small-centered">
  <h1> <%=@release.title %> by <%= @release.artist %> </h1>
</div>

<div class="row">
  <div class="column small-12 large-6">
    <img src="<%=@release.album_art_url%>" height="400" width="400"/>
    <% if current_user == @release.user %>
    <div class="row">
      <%= link_to "Edit", edit_release_path(@release) %>
    </div>
    <% end %>
  </div>
  <div class="column small-12 large-6">
    <% unless @release.performer.empty? %>
      <h4>Performed By: <%= @release.performer %></h4>
    <% end %>

    <h4>Year: <%= @release.year %></h4>

    <% unless @release.studio.empty? %>
      <h4>Studio: <%= @release.studio %></h4>
    <% end %>

    <h4>No. of Tracks: <%= @release.no_of_tracks %></h4>

    <% unless @release_genres.empty? %>
      <h4>Genre(s): </h4>
      <% @release_genres.each do |genre| %>
        | <%= link_to genre.name, genre_path(genre) %> |
      <% end %>
    <% end %>

    <% unless @release.description.empty? %>
    <h4> Description: </h4>
    <p><%= @release.description %></p>
    <% end %>

  </div>
</div>

<br>
<br>
<br>

<div class="row">
  <p>
    <%= link_to 'Add a Review', new_release_review_path(@release) %>
  </p>
  <% @reviews.each do |review| %>
  <div class="review">
    <ul class="no-bullet">
      <li>
        Rating: <%=review.rating%>
        <br />
        Author: <%= review.user.username %>
        <br />
        Review: <%=review.body%>
        <br />
        <% if review.user == current_user %>
            <%= link_to "Edit/Delete this Review", edit_release_review_path(@release, review) %>
        <% end %>
        <br />
          <br />
        <% review.comments.each do |comment| %>
        <ul>
          <div class="large-6 large-offset-1 columns">
            <li>
               Comment: <%= comment.body %>
               <br />
               Written by: <%= comment.user.username %>
               <% if current_user == comment.user %>
               <p><%= link_to "Edit/Delete Comment", edit_review_comment_path(review, comment) %></p>
               <% end %>
             </li>
             <br />
          </div>
        </ul>
        <% end %>
      </li>
    </ul>
    <div class="row">

    </div>
      <%= link_to 'Add Comment', new_review_comment_path(review) %>
  </div>
  <% end %>
</div>
