<div class="row small-centered">
  <h1> <%=@release.title %> by <%= @release.artist %> </h1>
</div>

<div class="row">
  <div class="column small-12 large-6">
    <img src="<%=@release.album_art_url%>" height="400" width="400"/>
  </div>
  <div class="column small-12 large-6">
    <% unless @release.performer.empty? %>
      <h3>Performed By: <%= @release.performer %></h3>
    <% end %>

    <h3>Year: <%= @release.year %></h3>

    <% unless @release.studio.empty? %>
      <h3>Studio: <%= @release.studio %></h3>
    <% end %>

    <h3>No. of Tracks: <%= @release.no_of_tracks %></h3>

    <% unless @release_genres.empty? %>
      <h3>Genre(s): </h3>
      <% @release_genres.each do |genre| %>
        <%= link_to genre.name, genre_path(genre) %> |
      <% end %>
    <% end %>

    <% unless @release.description.empty? %>
    <h3> Description: </h3>
    <p><%= @release.description %></p>
    <% end %>

  </div>
</div>

<br>
<br>
<br>

<div class="row">
  <p>
    <%= link_to 'Add a Review', new_release_review_path(@release) %>
  </p>
  <% @reviews.each do |review| %>
  <ul>
    <li>
      Review Rating: <%=review.rating%>
      <br />
      Review Author: <%= review.user.username %>
      <br />
      Review Body: <%=review.body%>
      <br />
      <%= form_for [@release, @review], url: release_review_path(@release, review), method: :patch,
        html: { class: "review-vote" } do |f| %>
          <%= f.submit "Upvote"%> <br />
          Votes: <%= review.votes %>
          <%= f.submit "Downvote"%> <br />
          <%end%>
      <% @comments.each do |comment| %>
      <ul>
        <li>
           Comment: <%= comment.body %>
           <br />
           Written by: <%= comment.user.username %>
         </li>
         <br />
      </ul>
      <% end %>
      <%= link_to 'Add Comment', new_review_comment_path(review) %>
    </li>
  </ul>
  <% end %>
</div>
