<div>
<h1> <%=@release.title %> by <%= @release.artist %> </h1>
<img src="<%=@release.album_art_url%>" height="400" width="400"/>
</div>

<h3> Description: </h3>

<div class="">
  <% @reviews.each do |review| %>
  <ul>
    <li>
      Review Rating: <%=review.rating%>
      <br />
      Review Author: <%= review.user.username %>
      <br />
      Review Body: <%=review.body%>
      <br />
      <%= form_for [@release, @review], url: release_review_path(@release, review), method: :patch,
        html: { class: "review-vote" } do |f| %>
          <%= f.submit "Upvote" %> <br />
          <%= review.votes %>
          <%= f.submit "Downvote" %> <br />
          <%end%>
    </li>
  </ul>
  <% end %>
</div>


<p>
  <%= link_to 'Add Review', new_release_review_path(@release) %>
</p>
