<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "My Profile", user_path(current_user) %> </li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <% if flash[:notice] %>
            <%= flash[:notice] %>
          <% end %>
          <% if flash[:alert] %>
            <%= flash[:alert] %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
