<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Kensai Music DB" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Michroma|Open+Sans');
    </style>
    <%= csrf_meta_tags %>
  </head>

  <body class="body-background">
    <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to "Kensai Music DB", root_path %></li>
      <li>
        <a href="#">Reviews</a>
        <ul class="menu vertical genres">
          <li><a href="#">Alternative</a></li>
          <li><a href="#">Blues</a></li>
          <li><a href="#">Classical</a></li>
          <li><a href="#">Country</a></li>
          <li><a href="#">Dance</a></li>
          <li><a href="#">Easy Listening</a></li>
          <li><a href="#">Electronic</a></li>
          <li><a href="#">European (Folk/Pop)</a></li>
          <li><a href="#">Hip Hop/Rap</a></li>
          <li><a href="#">Indie Pop</a></li>
          <li><a href="#">Inspirational/Gospel</a></li>
          <li><a href="#">Jazz</a></li>
          <li><a href="#">Latin</a></li>
          <li><a href="#">New Age</a></li>
          <li><a href="#">Opera</a></li>
          <li><a href="#">Pop</a></li>
          <li><a href="#">R&B/Soul</a></li>
          <li><a href="#">Reggae</a></li>
          <li><a href="#">Rock</a></li>
          <li><a href="#">World</a></li>
        </ul>
      </li>
      <li><%= link_to "Add a Release", new_release_path%></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">

    <ul class="menu">
        <% if user_signed_in? %>
          <li><%= link_to "My Profile", user_path(current_user) %> </li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
    </div>
  </div>
<% end %>

    <%= yield %>

  </body>
</html>
